body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    overflow-y: auto;
}

#calculator {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 90%; /* Adjusted width for better display on mobile */
    max-width: 500px; /* Limit the width on larger screens */
    max-height: 100vh;
    overflow-y: auto;
}

h1, h2 {
    margin-top: 0;
    text-align: center; /* Center-align the headings */
}

button {
    margin-top: 10px;
    width: 100%; /* Make the button full width */
}

input {
    margin: 5px 0;
    width: calc(100% - 20px); /* Full width with some padding */
    padding: 10px; /* Add padding for better touch targets */
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

.amount {
    margin-bottom: 20px;
}

.person-name {
    width: calc(100% - 20px);
    padding: 10px; /* Add padding for better touch targets */
    margin: 5px 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

.promotion {
    margin-bottom: 20px; /* Add spacing between promotions */
}
